fieldset{
    background: #dcdc2b;
    border: 5px solid rgb(17, 66, 227);
    margin-bottom: 10px;
    width: 720px;
}

label{
    width: 180px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

label:hover {
    font-size: 28px;
}

span{
    text-align:center;
    vertical-align: top;
}

textarea{
    width: 360px;
    height: 50px;
}

.left{
    background: red;
    color: white;
}

.right{
    background: purple;
    color: white;
}

#method{
    width: auto;
}

marquee{
    background-color: rgb(255, 0, 55);
    color: chartreuse;
}

input[type="submit"]{
    text-align: center;
    background-color: lightskyblue;
}